/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F1F1F1;
  width: 100%;
  margin: 0;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #EEE;
}

.landing_message {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

.landing_submessage {
  text-align: center;
  font-size: 16px;
}

.landing_login_list {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

form {
  width: 70%;
}

.signup_title {
  font-size: 20px;
  margin-bottom: 20px;
}

.signup_form {
  margin-top: 30px;
  margin-left: 30px;
}

.signup_form .field {
  width: 300px;
}

/*APPLICATION FIELD*/

.application_field {
  margin-bottom: 25px;
}

/*LOGIN PAGE*/

/*.login_title {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 26px;
  font-weight: 200;
}

.login_field {
  margin-bottom: 25px;
}*/


.new_user {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin-heading{
  margin-bottom: 20px;
}
.signin_container {
  margin-top: 30px;
  /*text-align: center;*/
}
input#user_password.form-control {
  margin-bottom: 15px;
}
.signin_container.checkbox{
  text-align: left;
  margin-bottom: 15px;
}
.actions{
  margin-bottom: 15px;
}
