/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

body {
  /*background-color: #F1F1F1;*/
  width: 100%;
  margin: 0;
}

/*
** NAVBAR
*/

.navbar {
  top: 0;
  z-index: 50;
  position: fixed;
  width: 100%;
  background-color: #fefefe;
  border-bottom: 1px solid #EEE;
}

.nav-user-welcome-msg {
  padding: 11px 10px 0 0;
}

.img-circle {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

/* Dropdown Button */

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  color: #157EFB
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  /*background-color: #157EFB;*/
}

/*
** SIGNUP FORM :
*/

/* form {
  width: 70%;
} */

.signup_title {
  font-size: 20px;
  margin-bottom: 20px;
}

.signup_form {
  margin-top: 30px;
}

/*APPLICATION FIELD*/

.application_field {
  margin-bottom: 25px;
}

/*.login_title {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 26px;
  font-weight: 200;
}

.login_field {
  margin-bottom: 25px;
}*/

.new_user {
  margin: 0 auto;
  width: auto;
}

.form-signin-heading {
  margin-bottom: 20px;
}

.signin_container {
  margin-top: 130px;
  /*text-align: center;*/
}

input#user_password.form-control {
  margin-bottom: 15px;
}

.signin_container.checkbox {
  text-align: left;
  margin-bottom: 15px;
}

.actions {
  margin-bottom: 15px;
}

/*
** HEAD CONTAINER
*/

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: calc(100vh - 70px);
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url(header.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .layer {
    position: absolute;
    top: 0;
    background-color: rgba(11, 24, 39, 0.6);
    width: 100%;
    height: 100%;
  }
  /*
  ** CATEGORIES OF SETS
  */
  h4.category_title {
    margin-left: 20px;
  }
  h4.category-title::before {
    content: "";
    background-color: #000;
    border-color: black;
    border-style: solid;
    margin-right: 10px;
  }
  .space_container {
    height: 100px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
  }
  .img_preview {
    height: 100%;
    width: 100%;
  }
  .category-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
  }
  .category-box .category-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(11, 24, 39, 0.8);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .category-box .category-box-caption .category-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
  }
  .project-category {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .category-box .category-box-caption .category-box-caption-content .project-category, .category-box .category-box-caption .category-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  .category-box .category-box-caption .category-box-caption-content .category-box .category-box-caption .category-box-caption-content .project-name {
    font-size: 18px;
  }
  .category-box:hover .category-box-caption {
    opacity: 1;
  }
  .category-box:focus {
    outline: none;
  }
  @media (min-width: 768px) {
    .category-box .category-box-caption .category-box-caption-content .project-category {
      font-size: 16px;
    }
    .category-box .category-box-caption .category-box-caption-content .project-name {
      font-size: 22px;
    }
  }
}

.category-box .category-box-caption .category-box-caption-content .project-category,
     .category-box .category-box-caption .category-box-caption-content .project-name {
       padding: 0 15px;
       font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
     .category-box .category-box-caption .category-box-caption-content
     .category-box .category-box-caption .category-box-caption-content .project-name {
       font-size: 18px; }
 .category-box:hover .category-box-caption {
   opacity: 1; }
 .category-box:focus {
   outline: none; }
 @media (min-width: 768px) {
   .category-box .category-box-caption .category-box-caption-content .project-category {
     font-size: 16px; }
   .category-box .category-box-caption .category-box-caption-content .project-name {
     font-size: 22px; } }


/*

** ADVANCED SEARCH FORM
*/
  .search_container {
    background-color: #fff;
    margin-top: 50px;
}
.centered_search_container {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.input-group{
  margin-bottom: 20px;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
  }
  .input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 5px;
    border: solid 2px #0c546012;
    margin-left: -1px;
  }
  .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  @media screen and (min-width: 768px) {
    #adv-search {
      width: 500px;
      margin: 0 auto;
    }
    .dropdown.dropdown-lg {
      position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
      min-width: 290px;
    }
}
.form-control{
  border: solid 2px #0c546012;
  border-radius: 5px;
  z-index: -50;
}

.categories_list {

}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

.checkbox input {
  margin-right: 10px;
}
.start_date {
  padding-top: 8px;
  padding-right: 10px;
  color: #868E95;
}
.end_date {
  padding-top: 8px;
  padding-right: 10px;
  color: #868E95;
}
input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}
