<div class="container">
  <div class="row Place-row">
    <div class="col-8" style="margin-top:30px;">
      <h4>Edit your set</h4>
      <hr>
      <%= render 'form', place: @place %>
    </div>
  </div>
</div>
