<div class="container Place">

  <div class="row Place-row">
    <div class="col-6">
      <h2 class="Place-title">Create a new set</h2>
    </div>
  </div>

  <div class="row Place-row">
    <div class="col-6">
      <%= render 'form', place: @place %>
    </div>
  </div>

</div>
